<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="isVideo" value="1"/>
    <add key = "isNavaData" value="1"/>
    <add key="isViconRead" value="0"/>
    <!-- 目标位置参数 -->
    <add key ="aimX" value="200.0"/>
    <add key ="aimY" value="-200.0"/>
    <add key ="aimZ" value="800.0"/>
    <add key="gate" value="0.2"/>
    
    
  </appSettings>
</configuration>