<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="gate" value="0.2"/>
    <add key="P2PTime" value="200"/>
    <!-- 目标位置参数 -->
    <add key ="aimX" value="200.0"/>
    <add key ="aimY" value="0.0"/>
    <add key ="aimZ" value="800.0"/>
    
  </appSettings>
</configuration>